<%- include('./partials/head') %> <%- include('./partials/header') %>

<main>
  <section id="root">
    <% data.forEach(function(quote, index) { %>
    <figure class="figure">
      <blockquote><%- quote.text %></blockquote>
      <cite><%- quote.name %></cite>
      <a href="/quote/<%- quote.quoteId %>?color=<%- quote.color %>">#</a>
    </figure>
    <% }); %>
  </section>
  <section id="singlequote"></section>
</main>

<%- include('./partials/foot') %>
