<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%- title %></title>

    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/Icons/icon-512x512.png" />
    <link href="/styles.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <script type="text/javascript" src="/app.js"></script>
  </head>
  <header>
    <section>
      <p id="title">Give me a random quote</p>
      <button class="bottom"><a href="/random"> I'm feeling lucky</a></button>
      <div id="loading"></div>
      <p id="errorquoteoftheday"></p>
      <figure id="day">
        <% if (randomQuote) { %>
        <blockquote><%- randomQuote.text %></blockquote>
        <cite><%- randomQuote.name %></cite>
        <% } %>
      </figure>
    </section>
  </header>
  <body>
    <section id="root">
      <% data.forEach(function(quote, index) { %>
      <figure class="figure">
        <blockquote><%- quote.text %></blockquote>
        <cite><%- quote.name %></cite>
        <a href="/quote/<%- quote.quoteId %>?color=<%- quote.color %>">#</a>
      </figure>
      <% }); %>
    </section>
    <section id="singlequote"></section>
  </body>
</html>
